<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.matdongsan.api.mapper.CommunityMapper">

    <select id="selectCommunityDetail" parameterType="java.lang.Long" resultType="community">
        SELECT id AS id
               ,user_id AS userId
               ,category_id AS categoryId
               ,title AS title
               ,content AS content
               ,image_urls AS imageUrls
               ,view_count AS viewCount
               ,created_at AS createdAt
          FROM communities
         WHERE id = #{id}
    </select>

    <select id="selectCommunities" parameterType="com.matdongsan.api.dto.community.CommunityGetRequest" resultType="community">
        SELECT id AS id
               ,user_id AS userId
               ,category_id AS categoryId
               ,title AS title
               ,content AS content
               ,image_urls AS imageUrls
               ,view_count AS viewCount
               ,created_at AS createdAt
          FROM communities
         WHERE 1=1
        <if test="title != null and title != ''">
           AND title LIKE CONCAT('%', #{title}, '%')
        </if>
           AND deleted_at IS NULL
      ORDER BY created_at DESC
    </select>

    <insert id="insertCommunity" useGeneratedKeys="true" keyProperty="id" parameterType="com.matdongsan.api.dto.community.CommunityCreateRequest">
        INSERT INTO communities (user_id, category_id, property_id, title, content, image_urls)
        VALUES (#{userId}, #{categoryId}, #{propertyId}, #{title}, #{content}, string_to_array(#{imageUrls}, ','))
    </insert>

    <update id="updateCommunity" parameterType="map">
        UPDATE communities
           SET user_id = #{request.userId}
               ,category_id = #{request.categoryId}
               ,property_id = #{request.propertyId}
               ,title = #{request.title}
               ,content = #{request.content}
               ,image_urls = string_to_array(#{request.imageUrls}, ',')
               ,updated_at = NOW()
         WHERE id = #{id}
    </update>

    <update id="deleteCommunity" parameterType="map">
        UPDATE communities
           SET deleted_at = NOW()
         WHERE id = #{id}
           AND user_id = #{request.userId}
           AND deleted_at IS NULL
    </update>

</mapper>
