<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.matdongsan.api.mapper.NoticeMapper">

    <select id="selectNotices" parameterType="com.matdongsan.api.dto.notice.NoticeGetRequest"  resultType="notice">
          SELECT id
                ,title
                ,created_at AS createdAt
                ,content
            FROM notices
           WHERE 1=1
         <if test="title != null and title != ''">
             AND title LIKE CONCAT('%', #{title}, '%')
         </if>
        ORDER BY created_at DESC
    </select>

    <select id="selectNoticeDetail" parameterType="java.lang.Long"  resultType="notice">
        SELECT id
              ,title
              ,content
              ,created_at AS createdAt
          FROM notices
         WHERE id = #{id}
    </select>

    <insert id="insertNotice" useGeneratedKeys="true" keyProperty="id" parameterType="com.matdongsan.api.dto.notice.NoticeCreateRequest">
        INSERT INTO notices (title, content)
        VALUES (#{title}, #{content})
    </insert>

    <update id="updateNotice" parameterType="com.matdongsan.api.dto.notice.NoticeUpdateRequest">
        UPDATE notices
        SET title = #{title},
        content = #{content},
        updated_at = NOW(),
        updated_by = #{admin}
        WHERE id = #{id} AND deleted = false
    </update>

    <update id="softDeleteNotice" parameterType="com.matdongsan.api.dto.notice.NoticeDeleteRequest">
        UPDATE notices
        SET deleted = true,
        deleted_at = NOW(),
        deleted_by = #{admin}
        WHERE id = #{id} AND deleted = false
    </update>
</mapper>
