<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.matdongsan.api.mapper.PropertyImagesMapper">

    <insert id="insertPropertyImage" parameterType="map" >
        INSERT INTO property_detail_images (property_id, image_url)
        VALUES (#{propertyId}, #{imageUrl})
    </insert>

    <select id="selectImageUrlsByPropertyId" parameterType="java.lang.Long" resultType="java.lang.String">
        SELECT image_url
        FROM property_detail_images
        WHERE property_id = #{id}
        AND deleted_at IS null
    </select>

    <update id="softDeletePropertyImages" parameterType="com.matdongsan.api.dto.property.PropertyDeleteRequest">
        UPDATE property_detail_images
        SET deleted_at = NOW()
        WHERE property_id = #{id}
        AND deleted_at IS NULL
    </update>

    <update id="updatePropertyImage" parameterType="map">
        UPDATE property_detail_images
        SET image_url = #{newImageUrl}
        WHERE property_id = #{propertyId}
        AND image_url = #{oldImageUrl}
        AND deleted_at IS NULL
    </update>

</mapper>
