<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.matdongsan.api.mapper.PropertyDetailMapper">

    <insert id="insertPropertyDetail"
            useGeneratedKeys="true"
            keyProperty="id"
            parameterType="com.matdongsan.api.dto.property.PropertyDetailRequest">
        INSERT INTO property_details (
        property_id,
        content,
        available_date,
        has_elevator,
        has_bed,
        has_parking,
        has_heating,
        has_cooling,
        has_bath,
        has_microwave,
        has_burner,
        has_fridge,
        has_shoe_closet,
        has_tv,
        has_closet,
        has_dining_table,
        has_table_item,
        has_washer,
        has_induction,
        has_pet,
        created_at
        )
        VALUES (
        #{propertyId},
        #{content},
        #{availableDate},
        #{hasElevator},
        #{hasBed},
        #{hasParking},
        #{hasHeating},
        #{hasCooling},
        #{hasBath},
        #{hasMicrowave},
        #{hasBurner},
        #{hasFridge},
        #{hasShoeCloset},
        #{hasTv},
        #{hasCloset},
        #{hasDiningTable},
        #{hasTableItem},
        #{hasWasher},
        #{hasInduction},
        #{hasPet},
        #{createdAt}
        )
    </insert>

    <select id="selectPropertyDetailByPropertyId" parameterType="java.lang.Long" resultType="com.matdongsan.api.vo.PropertyDetailVO">
        SELECT  id,
        content,
        available_date,
        has_elevator,
        has_bed,
        has_parking,
        has_heating,
        has_cooling,
        has_bath,
        has_microwave,
        has_burner,
        has_fridge,
        has_shoe_closet,
        has_tv,
        has_closet,
        has_dining_table,
        has_table_item,
        has_washer,
        has_induction,
        has_pet,
        created_at
        FROM property_details
        WHERE property_id = #{id}
        AND deleted_at IS null
    </select>

    <update id="softDeletePropertyDetail" parameterType="com.matdongsan.api.dto.property.PropertyDeleteRequest">
        UPDATE property_details
        SET deleted_at = NOW()
        WHERE property_id = #{id} AND deleted_at IS NULL
    </update>

    <update id="updatePropertyDetail" parameterType="com.matdongsan.api.dto.property.PropertyUpdateRequest">
        UPDATE property_details
        <trim prefix="SET" suffixOverrides=",">
            <if test="content != null">content = #{content},</if>
            <if test="availableDate != null">available_date = #{availableDate},</if>
            <if test="hasElevator != null">has_elevator = #{hasElevator},</if>
            <if test="hasBed != null">has_bed = #{hasBed},</if>
            <if test="hasParking != null">has_parking = #{hasParking},</if>
            <if test="hasHeating != null">has_heating = #{hasHeating},</if>
            <if test="hasCooling != null">has_cooling = #{hasCooling},</if>
            <if test="hasBath != null">has_bath = #{hasBath},</if>
            <if test="hasMicrowave != null">has_microwave = #{hasMicrowave},</if>
            <if test="hasBurner != null">has_burner = #{hasBurner},</if>
            <if test="hasFridge != null">has_fridge = #{hasFridge},</if>
            <if test="hasShoeCloset != null">has_shoe_closet = #{hasShoeCloset},</if>
            <if test="hasTv != null">has_tv = #{hasTv},</if>
            <if test="hasCloset != null">has_closet = #{hasCloset},</if>
            <if test="hasDiningTable != null">has_dining_table = #{hasDiningTable},</if>
            <if test="hasTableItem != null">has_table_item = #{hasTableItem},</if>
            <if test="hasWasher != null">has_washer = #{hasWasher},</if>
            <if test="hasInduction != null">has_induction = #{hasInduction},</if>
            <if test="hasPet != null">has_pet = #{hasPet},</if>
            <if test="createdAt != null">created_at = #{createdAt}</if>
        </trim>
        WHERE property_id = #{propertyId}
        AND deleted_at IS NULL
    </update>

</mapper>
