<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.matdongsan.api.mapper.ReactionMapper">

    <select id="selectReaction" parameterType="com.matdongsan.api.dto.reaction.ReactionRequest" resultType="reaction">
        SELECT id
               ,user_id
               ,target_id
               ,target_type
               ,reaction_type
               ,created_at
          FROM reactions
         WHERE user_id = #{userId}
           AND target_id = #{targetId}
           AND target_type = #{targetType}
    </select>

    <update id="updateReaction" parameterType="com.matdongsan.api.dto.reaction.ReactionRequest">
        UPDATE reactions
           SET reaction_type = #{reactionType}
         WHERE user_id = #{userId}
           AND target_id = #{targetId}
           AND target_type = #{targetType}
    </update>

    <insert id="insertReaction" useGeneratedKeys="true" keyProperty="id" parameterType="com.matdongsan.api.dto.reaction.ReactionRequest">
        INSERT INTO reactions (user_id, target_id, target_type, reaction_type)
        VALUES (#{userId}, #{targetId}, #{targetType}, #{reactionType})
    </insert>

    <select id="selectReactionLikeCount" parameterType="map" resultType="java.lang.Long">
        SELECT COUNT(*)
          FROM reactions
         WHERE target_id = #{communityId}
           AND target_type = #{targetType}
           AND reaction_type = 'LIKE'
    </select>

    <select id="selectReactionDislikeCount" parameterType="map" resultType="java.lang.Long">
        SELECT COUNT(*)
          FROM reactions
         WHERE target_id = #{communityId}
           AND target_type = #{targetType}
           AND reaction_type = 'DISLIKE'
    </select>

    <select id="selectReactionCountGroupByTarget" parameterType="map" resultType="map">
        SELECT target_id
               ,COUNT(*) FILTER (WHERE reaction_type = 'LIKE') AS like_count
               ,COUNT(*) FILTER (WHERE reaction_type = 'DISLIKE') AS dislike_count
          FROM reactions
         WHERE target_type = #{targetType}
           AND target_id
            IN
        <foreach collection="targetIds" item="id" open="(" separator="," close=")">
               #{id}
        </foreach>
      GROUP BY target_id
    </select>

</mapper>
