<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matdongsan.api.mapper.ReservationMapper">
    <insert id="insertReservation" parameterType="com.matdongsan.api.dto.reservation.ReservationCreateDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO reservations (user_id,property_id,reserved_date,reserved_time,deposit,status)
        VALUES (#{userId},#{propertyId},#{reservedDate},#{reservedTime},#{deposit},#{status})
    </insert>

<!--    <select id="selectReservations"  parameterType="com.matdongsan.api.dto.reservation.ReservationCreateDto" resultType="com.matdongsan.api.vo.ReservationVO">-->
<!--        SELECT-->
<!--    </select>-->

    <select id="selectReservationTimesByDate" parameterType="com.matdongsan.api.dto.reservation.ReservationTimeGetDto" resultType="com.matdongsan.api.vo.ReservedTimeVO">
        SELECT reserved_time
          FROM reservations
         WHERE reserved_date = #{reservedDate}
          AND property_id = #{propertyId}
    </select>

    <select id="existsCompletedReservation" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM reservations r
            INNER JOIN properties p
                    ON r.property_id = p.id
            WHERE r.user_id = #{userId}
            AND p.user_id = #{agentId}
            AND r.property_id = #{propertyId}
            AND r.status = 'COMPLETED'
        )
    </select>

    <select id="existsReservation" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
              FROM reservations r
        INNER JOIN properties p
                ON r.property_id = p.id
             WHERE r.user_id = #{userId}
               AND p.user_id = #{targetId}
        )
    </select>

</mapper>