<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.matdongsan.api.mapper.UserMapper">

    <!-- 모든 유저 조회 (개발용) -->
    <select id="findAll" resultType="user">
        SELECT *
        FROM users
    </select>

    <!-- 이메일로 유저 단건 조회 -->
    <select id="findByEmail" parameterType="String" resultType="user">
        SELECT *
        FROM users
        WHERE email = #{email}
    </select>

    <!-- 신규 유저 등록 -->
    <insert id="insertUser" parameterType="user" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (
        email,
        name,
        provider,
        role
        ) VALUES (
        #{email},
        #{name},
        #{provider},
        #{role}
        )
    </insert>

    <insert id="insertUserWithPassword" parameterType="user" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (
        email,
        name,
        phone,
        password,
        provider,
        role
        ) VALUES (
        #{email},
        #{name},
        #{phone},
        #{password},
        #{provider},
        #{role}
        )
    </insert>

    <select id="existsByEmail" parameterType="String" resultType="boolean">
        SELECT EXISTS (
        SELECT 1
        FROM users
        WHERE email = #{email}
        )
    </select>

    <select id="existsByNickname" parameterType="string" resultType="boolean">
        SELECT EXISTS (
        SELECT 1
        FROM users
        WHERE nickname = #{nickname}
        )
    </select>

    <select id="selectUserDataById" parameterType="long" resultType="user">
        SELECT
        u.phone,
        u.temperature,
        u.profile,
        u.nickname,
        COALESCE(SUM(pt.remain_count), 0) AS ticket
        FROM users u
        LEFT JOIN purchase_ticket pt ON pt.user_id = u.id
        WHERE u.id = #{id}
        GROUP BY u.phone, u.temperature, u.profile, u.nickname
    </select>

    <select id="selectUserProfile" parameterType="long" resultType="string" >
        SELECT profile FROM users WHERE id = #{id}
    </select>

    <update id="updateUserProfile" parameterType="com.matdongsan.api.dto.user.UpdateUserDto">
        UPDATE users
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="nickname != null and nickname != ''">
                nickname = #{nickname},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="profile != null and profile != ''">
                profile = #{profile},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="checkNotAgent" parameterType="java.lang.Long" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM users
            WHERE id = #{userId}
            AND is_agent = false
            AND agent_verified = false
        )
    </select>

    <!-- 중개인 검증 후, 중개인 관련 컬럼 값 변경 -->
    <update id="updateAgentStatus" parameterType="java.lang.Long">
        UPDATE users
        SET is_agent = true
        ,agent_verified = true
        WHERE id = #{userId}
    </update>


</mapper>
